.feedback {
	.form-group {
		margin-bottom: 10px;

		.form-control {
			width: 100%;
			outline: none;
			padding: 5px;
			border: none;
			border-bottom: 2px solid #1c94ff;
			font-size: 16px;
		}

		.text-help {
			color: #dc1d34;
		}
	}

	label {
		display: block;
		margin-bottom: 2px;
	}

	.has-success .form-control {
		border-bottom: 2px solid #168b3f;
	}

	.has-danger .form-control {
		border-bottom: 2px solid #dc1d34;
	}

	.inline-label label {
		display: inline;
	}

	.pristine-error {
		display: table;
	}

	.feedback-button {
		.feedback-spinner {
			display: none;
		}

		.feedback-button-text {
			display: inline-block;
		}

		&.is-active {
			.feedback-button-text {
				display: none;
			}

			.feedback-spinner {
				display: inline-block;
			}
		}
	}


}
